
body {
  padding:50px;
  font: "Palatino", sans-serif;
  color:#999;
  font-weight:300;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

div.section {
  width: 400px;
}

h3:before {
  content: "";
  display: inline-block;
  margin-right: 1.7%;
  width: 13.6%;
  height: 0.42em;
  margin-bottom: 0.208em;
  background-color: #bfbfbf;
}

a {
  color:#149;
  font-weight:400;
  text-decoration:none;
}

footer {
  clear: both;
}